<html>
<head>
    <title>Minimal example</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>

    <!-- Your app -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/less-styles.css">
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="materializeApp" ng-controller="BodyController as vm">

    <div class="container">
        <div class="row">
            <h2 class="center-align margin-top-200">Flickr Search - Angular Promises</h2>
            <div class="section col s4 offset-s4">
                <form ng-submit="vm.submit()">
                    <div input-field>
                        <label for="search">Search</label>
                        <input name="search" type="text" ng-model="vm.search" length="200">
                    </div>
                    <button type="submit" id="submit" value="submit" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Search</button>
                </form>
            </div>
            <!-- loading icon -->
            <div ng-if="vm.loading" class="row">
                <div class="section col s4 offset-s4">
                <img class="loading-image" src="images/default.svg" alt="">
                </div>
            </div>
            <div class="images">
                      <!-- if no result for given tags -->
                      <div ng-if="searched && photos.length==0 && !isLoading" class="no-result">No result found.</div>
                      <!-- iterate and display each photo retrieved -->
                      <div ng-repeat="photo in vm.photos" class="flickr-img">
                        <div class="img-container">
                          <a href="{{photo.link}}">
                            <img class="img-responsive" ng-src="{{photo.media.m}}">
                        </a>
                    </div>
                    <div class="img-author">By {{photo.author}}</div>
                    <div class="tag" ng-repeat="tag in photo.tags.split(' ') | limitTo:5">{{tag}}</div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
